
<div class="tab-style1">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tabmenubar" aria-expanded="false"> 
        <span class="ion-android-menu"></span>
    </button>
    <ul id="tabmenubar" class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="FamilyPack-tab" data-toggle="tab" href="#FamilyPack" role="tab" aria-controls="FamilyPack" aria-selected="true">Family Pack</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="StarterVegeterian-tab" data-toggle="tab" href="#StarterVegeterian" role="tab" aria-controls="StarterVegeterian" aria-selected="false">Starter Vegetarian</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="StarterNonVegetarian-tab" data-toggle="tab" href="#StarterNonVegetarian" role="tab" aria-controls="StarterNonVegetarian" aria-selected="false">Starter Non Vegetarian</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="Platters-tab" data-toggle="tab" href="#Platters" role="tab" aria-controls="Platters" aria-selected="false">Platters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="ChefSpecial-tab" data-toggle="tab" href="#ChefSpecial" role="tab" aria-controls="ChefSpecial" aria-selected="false">Chef's Special</a>
      </li>
    </ul>
</div>