<footer class="footer_dark background_bg overlay_bg_80" data-img-src="/images/footer_bg.jpg">
	<div class="footer_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                	<div class="widget">
                        <div class="footer_logo">
                            <a href="/"><img src="/images/logo_dark.png" alt="logo"/></a>
                        </div>
                        <h4>Address: </h4><p>Shop 1,837 South Western Highway, Byford WA 6122</p>
                    </div>
                    <div class="widget">
                        <h1><a href="tel:0895268246"><i class="ti-mobile"></i>08 9526 8246</a></h1>
                    </div>
        		</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
            	<div class="bottom_footer border-top-tran">
                	<div class="row">
                        <div class="col-md-12">
                            <p class="mb-0 text-center">© 2021 All Rights Reserved by <span class="text_default">Indian Flavour Byford</span>. Developed by <span class="text_default"><a href="https://ballisolutions.com.au" target="-blank">BALLI DIGITAL SOLUTIONS</a></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a> 