<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="author" content="indianflavoursbyford">
    <meta name="apple-itunes-app" content="app-id=1594120193">
    <meta name="google-play-app" content="app-id=com.ballisolutionsau.indianflavoursbyford.indianflavours">
    <meta name="msApplication-ID" content="App" />
    <link rel="stylesheet" href="/css/jquery.smartbanner.css" type="text/css" media="screen">
    <meta name="msapplication-TileImage" content="https://play-lh.googleusercontent.com/57FwejCfTO0Iihqu7uI9QaO3-DR5PHHKrivHSQizuQnQ8Be6WBIVRvuyPmZAs9-76Lw=s180-rw?w=100&h=100&q=60" />
 
    <title><%= pageTitle %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
<!-- Animation CSS -->
<link rel="stylesheet" href="/css/animate.css">	
<!-- Latest Bootstrap min CSS -->
<link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">


<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap" rel="stylesheet"> 
<!-- Icon Font CSS -->
<link rel="stylesheet" href="/css/all.min.css">
<link rel="stylesheet" href="/css/ionicons.min.css">
<link rel="stylesheet" href="/css/themify-icons.css">
<link rel="stylesheet" href="/css/linearicons.css">
<link rel="stylesheet" href="/css/flaticon.css">
<link rel="stylesheet" href="/css/jquery.simple-popup.min.css">
<link rel="stylesheet" href="/css/jquery.simple-popup.settings.css">
<!--- owl carousel CSS-->
<link rel="stylesheet" href="/css/owlcarousel/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owlcarousel/css/owl.theme.css">
<link rel="stylesheet" href="/css/owlcarousel/css/owl.theme.default.min.css">
<!-- Slick CSS -->
<link rel="stylesheet" href="/css/slick.css">
<link rel="stylesheet" href="/css/slick-theme.css">
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="/css/magnific-popup.css">
<!-- DatePicker CSS -->
<link href="/css/datepicker.min.css" rel="stylesheet">
<!-- TimePicker CSS -->
<link href="/css/mdtimepicker.min.css" rel="stylesheet">
<!-- Style CSS -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/responsive.css">
<link id="layoutstyle" rel="stylesheet" href="/css/color/theme-red.css">

<script>
    var AIZ = AIZ || {};       
</script>
</head>
<body>
<div id="overlay">    
    <div class="cv-spinner"> 
        <h2 class='please-wait'>Please wait...</h2>       
        <span class="spinner"></span>
    </div>
</div>
