<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tandoori Bistro - Home</title>

    <meta name="apple-itunes-app" content="app-id=1613537035">
    <meta name="google-play-app" content="app-id=https://play.google.com/store/apps/details?id=com.ballisolutions.com.au.apptandooribistro">
    <meta name="msApplication-ID" content="App" />
    <link rel="stylesheet" href="/css/jquery.smartbanner.css" type="text/css" media="screen">
    <meta name="msapplication-TileImage" content="https://play-lh.googleusercontent.com/MFRXSxQX1vADkQUW9jIsxv1CJT2VeQLv0YfK-YdHzhOP1GhhgPmI1VqT7SjsjXy2HBE=s180-rw?w=100&h=100&q=60" />
    
    <link rel="stylesheet" href="/assets/css/line-awesome.css">
    <link rel="stylesheet" href="/assets/css/line-awesome.min.css">

    <link rel="stylesheet" href="/assets/css/animate.css">

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link href="/assets/css/mediumish.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/themify-icons.css">

    <!-- old css -->
<link rel="stylesheet" href="/css/all.min.css">
<link rel="stylesheet" href="/css/jquery.simple-popup.min.css">
<link rel="stylesheet" href="/css/magnific-popup.css">
<link href="/css/datepicker.min.css" rel="stylesheet">
<link href="/css/mdtimepicker.min.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="/css/style.css"> -->
<link rel="stylesheet" href="/css/responsive.css">
<script>
	var AIZ = AIZ || {};
</script>
</head>

<body>



