<div class="banner_section slide_medium staggered-animation-wrap parallax_bg overlay_bg_60" data-parallax-bg-image="/images/slider/banner4.jpeg">
  <div class="banner_slide_content">
      <div class="container"><!-- STRART CONTAINER -->
          <div class="row justify-content-center">
              <div class="col-lg-7 col-md-12 col-sm-12 text-center">
                  <div class="banner_content text_white">
                      <h3 class="staggered-animation font_style1" data-animation="fadeInUp" data-animation-delay="0.2s">Enjoy A Fresh Indian Meal</h3>
                      <div class="location_form">
                      <a href="/menu" class="order-btn">ORDER NOW</a>
                      </div>
                  </div>
              </div>
          </div>
      </div><!-- END CONTAINER-->
  </div>
</div>