
<link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/all.min.css">
<link rel="stylesheet" href="/css/style.css">
<div class="tm-preloader">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="toggle_info">
            		<span><i class="fas fa-exclamation-circle"></i>Please wait while you are redirecting to the gateway you chose to make payment...</span>
                </div>
                <span class="tm-preloader-progress"></span>
            </div>
        </div>
    </div>
</div>
        <div class="centered">
            <button style="display:none;" id="order-btn" class="btn">ORDER</button>
            <script src="https://js.stripe.com/v3/"></script>
            <script>
                var stripe = Stripe('pk_live_51KatieIwPbGUPIozwyQf6PeFhkYXuCRp9GEN6qYpr8lsdLKOCSkFcylXoxQ75qTYZwPsJKiWwjDJjwiMcMUlOkAr00JSXQnLge');
                var orderBtn = document.getElementById('order-btn');
                orderBtn.addEventListener('click', function() {
                    stripe.redirectToCheckout({
                        sessionId: '<%= sessionId %>'
                    });
                });
            </script>
        </div>

        <%- include('../includes/end.ejs') %>
