<%- include('../includes/header.ejs') %> 
<div class="download-section">

    <div class="container">

        <div class="row">

            <div class="col-md-12 text-center">

                <div class="download-heading thank">
                    <i class="las la-check-circle"></i>
                    <h3> Thanks for your order.</h3>

                    <ul> 


                        <li>
                            
                            <a href="/menu">

                            Continue Shopping

                            </a> 
                        
                        </li>

                    </ul>

                </div>

            </div>

        </div>


    </div>


<!-- download section closed -->
</div>


<%- include('../includes/footer.ejs') %>
