<%- include('../includes/header.ejs') %>
<div class="breadcrumb_section overlay_bg_50 page_title_light">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                <h1>Privacy Policy</h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Privacy Policy</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
  </div>
<div class="section">
	<div class="container">
        <div class="row">
        	<div class="col-12">            	
                <p>The Tandoori Bistro</p>
                <p>Update : – 8th March 2022</p>
                <p>
                    The Tandoori Bistro is operated by Tandoori Palace Byford Pty Ltd (ABN 80 784 318 125) (referred to in this privacy policy as “<strong>Byford Pizzeria</strong>”, “<strong>we</strong>”, “<strong>us</strong>”, “<strong>our</strong>”) We recognise the importance of protecting the privacy and the rights of individuals in relation to their personal information.
                </p>
                <p>By using or subscribing to our website, registering an account with us or entering into an agreement with us for services, you are accepting the terms of this privacy policy, and you are consenting to our collection, use, disclosure, retention and protection of your personal information as described in this privacy policy.</p>
                <p>
                    We appreciate that your privacy is important to you. We will continue to protect the personal information you provide us and we will manage your personal information in accordance with any mandatory privacy regulations, depending on your location.
                </p>   	
                <p>
                    We will take all reasonable steps to ensure that all information we collect, use or disclose is accurate, complete, up-to-date and stored in a secure environment.
                </p>
                <div class="heading_s1">
                	<ol class="privacy-list">
                        <li class="privacy-main-title">
                            <h4>Purpose</h4>
                            <ol class="privacy-sub-list">   
                                <li>This privacy policy <strong>(Privacy Policy)</strong> applies to personal information collected by Indian Flavours Byford, which outlines how we use, keep secure and disclose personal information.</li>
                                <li>The Privacy Policy outlines:
                                <ul type="disc">
                                    <li>how and when Indian Flavours Byford collects personal information;</li>
                                    <li>how Indian Flavours Byford uses and discloses personal information;</li>
                                    <li>how Indian Flavours Byford keeps personal information secure, accurate and up-to-date;</li>
                                    <li>how an individual can access and correct their personal information; and;</li>
                                    <li>how Indian Flavours Byford will facilitate or resolve a privacy complaint.</li>
                                </ul>
                                </li>
                                <li>We recommend that you read and understand the Privacy Policy and keep it for future reference. If you require any clarification, you can contact us at the address at the end of this document.</li>
                                <li>Indian Flavours Byford takes your privacy seriously. In dealing with personal information, we comply with the relevant principles in the Privacy Act 1988 (Cth) <strong>(Privacy Act)</strong>.</li>
                                <li><strong>Directly from you</strong>
                                    <ul type="disc">
                                        <li>Indian Flavours Byford tries to collect personal information about you directly from you. If we collect details about you from someone else, we will make you aware that we have done this and the reason for it.</li>
                                        <li>We primarily collect information about you when you use or request our services, or when you communicate with us by email, telephone, in writing or in person.</li>
                                        <li>We also collect information about you if you are providing services to us or if you apply for employment with us.</li>
                                        <li>As far as possible or unless provided otherwise under this privacy policy, we will collect your personal information directly from you.</li>
                                        <li>Depending upon the reason for requiring the information, some of the information we ask you to provide may be identified as mandatory or voluntary. If you do not provide the mandatory data or any other information we require in order for us to provide our services to you, we may be unable to provide or effectively provide our services to you.</li>
                                    </ul>
                                </li>
                                <li><strong>Information collected by our websites</strong>
                                    <ul type="disc">
                                        <li>When you visit our website, our web server may request your browser to create a cookie on your computer. A cookie is a small piece of information sent by our server to your browser by other sites.</li>
                                        <li>Our cookies do not contain personal information about users. However, cookies can identify a user’s browser. The cookies transferred by our website are used for such things as capturing information about a user’s web browser, controlling a pop-up window or enabling login access to password protected areas of the website.</li>
                                        <li>Our analytics systems use cookies to gather information regarding visitor activity to our websites. This is not used to identify you as an individual but is collated into aggregate results or classifications.</li>
                                        <li>Third parties may also use their own cookies to collect non-personal information about your activities on our website. This information, which may be combined with information acquired from third parties, may be used to serve you promotional material that we believe you might be interested in based on the content you have viewed.</li>
                                        <li>The cookies placed by third parties are subject to the privacy policies of these third parties. Indian Flavours Byford has no control over these cookies.</li>
                                        <li>If you do not wish to receive any cookies, you may set your browser to refuse them; go to the browser’s help menu for instructions. Please note that some features of the Indian Flavours Byford website may not work if cookies are disabled.</li>
                                    </ul>
                                </li>
                                <li<strong>Site User Tracking Experience</strong>
                                    <ul type="disc">
                                        <li>We may use tracking software to review and improve your experience of our website. In particular, we may use Facebook Pixel, Active Campaign, Google Analytics, YouTube, etc.</li>
                                        <li>We may use advertising products, such as Remarketing with Facebook, Google Analytics and Google Analytics Demographics and Interest Reporting. Google Analytics collects data about our website traffic via Google Advertising cookies and anonymous identifiers.</li>
                                        <li>Data collected via these Google products is not linked with any personally identifiable information you submit while on our website. If you wish to opt out of the Google Analytics data collection, you may do so on Google’s Site at tools.google.com/dlpage/gaoptout.</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                        <li class="privacy-main-title">
                            <h4>Why do we need to collect personal information?</h4>
                            <ol class="privacy-sub-list">
                                <li>We collect personal information when you volunteer that information in order to receive a service from us through our Application or website. The personal information collected by us or on our Application or website will be used to provide the goods or services you have requested, such as setting up and managing your subscription or account on our website. Your personal information may be used in relation to any survey, promotional offer or any competition you may enter on our websites.</li>
                            </ol>
                        </li>
                        <li class="privacy-main-title">
                            <h4>What information do we collect?</h4>
                            <ol class="privacy-sub-list">
                                <li>The personal information we may collect includes your name, postal address, email address, telephone numbers and contact details, information for identification purposes, profession or occupation, business or company numbers and names. If you make payments from our website by credit card or debit card or direct debit from your bank account, we may collect your card or bank account details.</li>
                                <li>General information about visits to our website is collected by our computer servers, with small files “cookies” that our websites transfer to your computer’s hard drive through your Web browser (if you allow the delivery of “cookies”). The “cookies” are used to follow the pattern of movements of users by letting us know which pages on our websites are visited. The anonymous non-personal information that we collect and analyse in not personal information.</li>
                                <li>Any additional personal information relating that you may provide to us directly through our website.</li>
                            </ol>
                        </li>
                        <li class="privacy-main-title">
                            <h4>Cookies</h4>
                            <ol class="privacy-sub-list">
                                <li>When you access our website, small files containing a unique identification (ID) number may be downloaded by your web browser and stored in the cache of your computer. The purpose of sending these files with a unique ID number is so that our website can recognise your computer when you next visit our website. The “cookies” that are shared with your computer can’t be used to discover any personal information such as your name, address or email address they merely identify your computer to our websites when you visit us.</li>
                                <li>We can also log the internet protocol address (IP address) of visitors to our website so that we can work out the countries in which the computers are located.</li>
                                <li>We collect information using “cookies” and other tracking technologies for the following reasons:
                                    <ul class="privacy-uo-sublist">
                                        <li>to help us monitor the performance of our website so that we can improve the operation of our website and the services we offer;</li>
                                        <li>to provide personalised services to each user of our website to make their navigation through our website easier and more rewarding to the user;</li>
                                        <li>to sell advertising on our website in order to meet some of the costs of operating our website and improve the content on our website; and</li>
                                        <li>when we have permission from the user, to market the services we provide by sending emails that are personalised to what we understand are the interests of the user.</li>
                                    </ul>
                                </li>
                                <li>Even if you have given us permission to send you emails, you can, at any time, decide not to receive further emails and will be able to “unsubscribe” from that service.</li>
                                <li>If you are unhappy about having a cookie sent to you, you can set your browser to refuse cookies or choose to have your computer warn you each time a cookie is being sent. However, if you turn your cookies off, some of our services may not function properly.</li>
                            </ol>
                        </li>
                        <li class="privacy-main-title">
                            <h4>Site User Tracking Experience</h4>
                            <ol class="privacy-sub-list">
                                <li>We may use tracking software to review and improve your experience of our website. In particular, we may use Facebook Pixel, Active Campaign, Google Analytics, YouTube, etc.</li>
                                <li>We may use advertising products, such as Remarketing with Facebook, Google Analytics and Google Analytics Demographics and Interest Reporting. Google Analytics collects data about our website traffic via Google Advertising cookies and anonymous identifiers.</li>
                                <li>Data collected via these Google products is not linked with any personally identifiable information you submit while on our website. If you wish to opt out of the Google Analytics data collection, you may do so on Google’s Site at tools.google.com/dlpage/gaoptout.</li>
                            </ol>
                        </li>
                        <li class="privacy-main-title">
                            <h4>How do we store your information?</h4>
                            <ol class="privacy-sub-list">
                                <li>Although we cannot guarantee the safety or security of your personal information, we take reasonable physical, electronic, and procedural measures to protect your personal and sensitive information against loss or unauthorised access, use, interference, modification, or deletion.</li>
                                <li>We use different technologies and procedures to help protect personal information from unauthorised access, loss, alteration, disclosure or use. Some of the safeguards we use are physical access controls, information firewalls and access authorisation controls to where your personal information is held in data centres. Our commitment to data security means:
                                    <ul class="privacy-uo-sublist">
                                        <li>we have procedures to limit access to personal information within our business;</li>
                                        <li>we use security measures and technologies within our business to protect your personal information; and</li>
                                        <li>we use service providers that can establish that they have secure controls relating to software security, access security and network security, including where credit card information is being transferred.</li>
                                    </ul>

                                </li>
                                <li>Our website is hosted in Australia. In addition, web traffic information we collect, such as data collected by Google Analytics may be stored overseas.</li>
                            </ol>
                        </li>
                        <li class="privacy-main-title">
                            <h4>Retention of your personal information</h4>
                            <p>We will retain your personal information only for as long as is necessary for the purposes set out in this privacy policy. We will retain and use your personal information to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.</p>
                        </li>
                        <li class="privacy-main-title">
                           <h4>What use do we make of your personal information?</h4>
                            <ol class="privacy-sub-list">
                                <li>We may use your personal information to, and you consent to us using your personal information to:
                                    <ul class="privacy-uo-sublist">
                                        <li>if required, the verification of your identity, including the verification of your date of birth, if applicable;</li>
                                        <li>provide our services to you, which shall include but is not limited to:
                                            <ol>
                                                <li>the administration and management of our services, including charging, billing, credit card authorisation and verification, fraud and collecting debts; and</li>
                                                <li>to offer you updates, or other content or products and services provided by us that may be of interest to you;</li>
                                            </ol>
                                        </li>
                                        <li>conduct evaluations of our services;</li>
                                        <li>subject to your express consent, publish success stories based on the services we have provided and de-identify you if you request;</li>
                                        <li>contact individuals for feedback on our services; and</li>
                                        <li>assist us to perform our corporate and contractual obligations.</li>
                                    </ul>
                                </li>
                                <li>
                                    We may also use or disclose your personal information and in doing so we are not required to seek your additional consent:
                                    <ul class="privacy-uo-sublist">
                                        <li>when it is disclosed or used for a purpose related to the primary purposes of collection detailed above and you would reasonably expect your personal information to be used or disclosed for such a purpose (secondary use);</li>
                                        <li>if we reasonably believe that the use or disclosure is necessary to lessen or prevent a serious or imminent threat to an individual’s life, health or safety or to lessen or prevent a threat to public health or safety;</li>
                                        <li>if we have reason to suspect that unlawful activity has been, or is being, engaged in; or</li>
                                        <li>if it is required or authorised by law or formally requested by a statutory or regulatory authority.</li>
                                    </ul>
                                </li>
                                <li>We will communicate with you in relation to the services we provide, the management of your subscription account and profile.</li>
                                <li>We may send you information and updates about any other product, service or information that we provide to our customers. We may also send you occasional company news and information about other products and services or special promotional offers of our affiliated companies. If at any time you would like to stop receiving future commercial messages from us, we include detailed unsubscribe instructions at the bottom of each email.</li>
                                <li>We may also release your personal information when we believe release is appropriate to comply with the law, enforce our subscription agreements, website policies and terms & conditions, or protect ours or others rights, property, or safety.</li>
                            </ol>
                        </li>
                        <li class="privacy-main-title">
                            <h4>Disclosure</h4>
                            <ol class="privacy-sub-list">
                                <li>We may disclose your personal information to:
                                    <ul class="privacy-uo-sublist">
                                        <li>our directors, employees, agents, contractors or service, debt collectors, professional advisors for the purposes of operating our website or our business, fulfilling requests by you, and to otherwise provide services to you;</li>
                                        <li>suppliers and other third parties with whom we have commercial relationships, for business, marketing, and related purposes, which may include overseas parties; and</li>
                                        <li>any other organisation for any authorised purpose with your consent.</li>
                                        <li>circumstances where it has statutory obligations or is otherwise required to do so by law, a court or a government department; and</li>
                                        <li>we do not supply, sell or rent the personal information we collect to unrelated third parties for the purpose of marketing those third parties’ products or services.</li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>Direct Marketing</strong>
                                    <ul class="privacy-uo-sublist">
                                        <li>You expressly consent to us using your personal information, including any email address you give to us, to provide you with information and to tell you about our products, services or events or any other direct marketing activity (including third party products, services, and events) which we consider may be of interest to you.</li>
                                        <li>If at any time, you do not wish to receive any further direct marketing communications from us, you may ask us not to send you any further information about products and services and not to disclose your information to other organisations for that purpose. You may do this at any time by using the “unsubscribe” facility included in the email or by contacting us via the details set out at the end of this document.</li>
                                        <li>If we use your personal information for direct marketing, we will ensure we comply with our obligations under the Do Not Call Register Act 2006 and the Spam Act 2003.</li>
                                        <li>We do not use sensitive information to send you direct marketing communications without your consent.</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                        <li class="privacy-main-title">
                            <h4>Protection and security</h4>
                            <ol class="privacy-sub-list">
                                <li>At Indian Flavours Byford, privacy is paramount to our business and we take preserving and protecting a person’s identity very seriously and it is a key responsibility and right of all our staff, customers and partners.</li>
                                <li>We have taken steps to help ensure your personal information is safe. You will appreciate, however, that we cannot guarantee the security of all transmissions or personal information, especially where the Internet is involved.</li>
                                <li>Notwithstanding the above, we will take reasonable steps to:
                                    <ul class="privacy-uo-sublist">
                                        <li>make sure that the personal information we collect, use or disclose is accurate, complete and up to date;</li>
                                        <li>protect your personal information from misuse, loss, unauthorised access, modification or disclosure both physically and through computer security methods; and</li>
                                        <li>destroy or permanently de-identify personal information if it is no longer needed for its purpose of collection.</li>
                                    </ul>
                                </li>
                                <li>However, the accuracy of personal information depends largely on the information you provide to us, so we recommend that you:
                                    <ul class="privacy-uo-sublist">
                                        <li>let us know if there are any errors in your personal information; and</li>
                                        <li>keep us up-to-date with changes to your personal information (such as your name or address).</li>
                                    </ul>
                                </li>
                                <li>We maintain the confidentiality and security of personal information by restricting access to only those staff and service providers with a legitimate need to access it.</li>
                                <li>Security measures are in place to prevent the misuse, unauthorised access, modification or disclosure of personal information</li>
                            </ol>
                        </li>
                        <li class="privacy-main-title">
                            <h4>How can I access the personal information that you collect?</h4>
                            <ol class="privacy-sub-list">
                                <li>We are happy to provide you with details of personal information held about you. To access this information, you need to email or write to us using the contact details below.</li>
                                <li>If you believe that your personal information has been misused, you can inform us of your complaint by writing to our address and we will attempt to resolve the matter.</li>
                            </ol>
                        </li>
                        <li class="privacy-main-title">
                            <h4>Complaint procedure</h4>
                            <ol class="privacy-sub-list">
                                <li>You are entitled to have access to any personal information relating to you which you have previously supplied to us over this website. You are entitled to edit or delete such information unless we are required by law to retain it.</li>
                                <li>If you have a complaint concerning the manner in which we maintain the privacy of your personal information, please contact us as set out below. All complaints will be considered by us and we may seek further information from you to clarify your concerns. If we agree that your complaint is well founded, we will, in consultation with you, take appropriate steps to rectify the problem. If you remain dissatisfied with the outcome, you may refer the matter to the external body appropriate to your circumstances depending on your location.</li>
                            </ol>
                        </li>
                        <li class="privacy-main-title">
                            <h4>Contact us</h4>
                            <ol class="privacy-sub-list">
                                <li>If you have any questions or complaints about this privacy policy, please contact us via contact@tandooribistro.com.au or telephone: (08) 9536 6967</li>
                                <li>We will treat your requests or complaints confidentially.</li>
                                <li>Our representative will contact you within a reasonable time after receipt of your complaint to discuss your concerns and outline options regarding how they may be resolved.</li>
                                <li>We will aim to ensure that your complaint is resolved in a timely and appropriate manner.</li>
                            </ol>
                        </li>
                        <li class="privacy-main-title">
                            <h4>Changes to our privacy policy</h4>
                            <ol class="privacy-sub-list">
                                <li>If we decide to change this privacy policy, we will post those changes on this page, and update the privacy policy modification date below.</li>
                                <li>This privacy policy was last modified on 8th March 2022</li>
                            </ol>
                        </li>
                        <li class="privacy-main-title">
                            <h4>Consent</h4>
                            <ol class="privacy-sub-list">
                                <li>You agree to the terms of this privacy policy when you continue to use our website or by accepting the terms of our terms and conditions of our services, which refer to this Privacy Policy.</li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../includes/footer.ejs') %>